@keyframes winner_Animation {
    0%{
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

#logout-Button {
    position: absolute;
    top:5%;
    left: 90%;
}

#logout-Button:hover{
    background-color: rgba(215, 216, 210, 1);
    border-color: rgba(215, 216, 210, 1);
}

html{
    background: #87CEEB;
}

body{
    font-family: Calibri, sans-serif;
    overflow: auto;
}

#board-cell-button{
    width:40px;
    height:40px;
}

#statistics{
    position: fixed;
    left: 4%;
    top: 5%;
}

#Waiting-message, #error-move-message, #Player-Retired-message{
    position: absolute;
    left: 350px;
    top: 4%;
}

#Winners-Message{
    position: absolute;
    left: 350px;
    top: 8%;
}

#viwers-userslist{
    height: 120px;
    width: 180px;
    border: 1px solid #000000;
    overflow: auto;
    list-style-type: none;
}

#viewer{
    position: relative;
    left: -15px;
}

#board{
    position: absolute;
    left: 350px;
    top: 180px;
    overflow: auto;
}

#History {
    height: 80px;
    width: 250px;
    border: 1px solid #000000;
    overflow: auto;
    visibility: hidden;
}

#History .History-Item{
    left: -15px;
    position:relative;
}

.game-label, .title-label{
    visibility:hidden;
}

#playersDetails {
    top: 3%;
    height: 90px;
    width: 250px;
    border: 1px solid #000000;
    overflow: auto;
    visibility: hidden;
}

#Winner-Button{
    width:40px;
    height:40px;
    animation: winner_Animation 0.5s infinite;
}

#chatwindow{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

#chatarea{
    flex-grow: 1;
    background: #f3f3f3;
    border: 1px solid #ccc;
    margin: 3px;
    padding: 8px;
    list-style-type: none;
    margin: 0 0 8px 0;
    width: 100%;
    height: 200px;
    overflow: auto;
}

#chatform{
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    flex-grow: 0;
    margin: 0 2px 0 5px;
}